body { 
    background: #cac0c0
}

#SREETWEAR {
    width: 100%
}

h1 {
    text-align: center
}

p {
    text-align: center
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}

h2 {
    text-align: center;
}